<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Sirve index.html como documento por defecto (necesario para Angular) -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- MIME types que IIS no incluye por defecto -->
    <staticContent>
      <remove fileExtension=".woff"  />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff"  mimeType="font/woff"  />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    <!--
      NOTA: Para soporte de Angular Router en rutas directas (deep linking),
      instala el módulo URL Rewrite de IIS y agrega esta sección:

      <rewrite>
        <rules>
          <rule name="Angular SPA Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile"      negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/index.html" />
          </rule>
        </rules>
      </rewrite>

      Descarga URL Rewrite: https://www.iis.net/downloads/microsoft/url-rewrite
    -->

  </system.webServer>
</configuration>
